SENTRY_SECRET_KEY="{ GENERATE A SECRET, AT LEAST 32 CHARS }"
SENTRY_DISABLE_REGISTRATION=True

SENTRY_SERVER_EMAIL=sentry@example.com
SENTRY_EMAIL_HOST=smtp.sparkpostmail.com
SENTRY_EMAIL_PASSWORD=<SMTP PASSWORD>
SENTRY_EMAIL_USER=SMTP_Injection
SENTRY_EMAIL_PORT=587
SENTRY_EMAIL_USE_TLS=True

GITHUB_APP_ID=123abc123abc123abc12
GITHUB_API_SECRET=123abc123abc123abc123abc123abc123abc123a
